.slideshow-container {
  position: relative;
}

.slider-house {
  display: flex;
  justify-content: center;

  @include bp(tabletportsmall) {
    flex-direction: column-reverse;
  }

  img {
    height: 100%;
    min-height: 60vh;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0 $border-radius-small $border-radius-small 0;

    @include bp(tabletportsmall) {
      border-radius: $border-radius-small $border-radius-small 0 0;
      height: 30vh;
      min-height: 30vh;
    }
  }
}

.slider-image-container {
  min-width: 60%;

  @include bp(tabletportsmall) {
    max-width: 100%;
  }
}

.slider-text-container {
  min-width: 30%;
  max-width: 30%;
  padding: $spacer $spacer-small;
  border-radius: $border-radius-small 0 0 $border-radius-small;
  background-color: $section-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacer-small;

  @include bp(tabletportsmall) {
    max-width: 100%;
    border-radius: 0 0 $border-radius-small $border-radius-small;
  }

  a {
    color: white;
    align-self: flex-start;
  }

  h3 {
    color: $brand-primary;
  }
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: $spacer-small;
}

.swiper-pagination .swiper-pagination-bullet-active {
  border-radius: 0;
  background-color: $brand-primary;
}

.swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 40px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -40px;

  @include bp(tabletportsmall) {
    top: -40px;
  }
}
