.infographics-case {
  margin: 2.5rem 0 1rem 0;
  width: 100%;

  #process {
    padding: 4rem;
    background-color: blue;
  }

  h3 {
    margin: 0;
    font-weight: 500;
  }

  .infographics-grid {
    display: flex;
    gap: 1rem;

    .infographic-column {
      display: flex;
      flex-direction: column;

      ul {
        margin: 0 1rem;
        font-family: "Montserrat", sans-serif;
        line-height: 1.4rem;
        list-style-type: none;

        li {
          margin: 0.75rem 0;
          font-size: 1.1rem;
        }

        li::before {
          content: "\2022";
          color: $brand-primary;
          width: 1rem;
          font-weight: bold;
          margin-left: -0.5rem;
          display: inline-block;
        }
      }
    }

    .infographic-process {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 33%;
      align-items: center;

      h5 {
        font-size: 1.2rem;
      }

      p {
        margin-top: 1rem;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        line-height: 1.8rem;
      }
    }
  }

  h4 {
    font-size: 2rem;
    color: $brand-primary;
  }
}

#caseworker-btn {
  margin-top: 1rem;
}

.image-half-width {
  width: 100%;

  img {
    object-fit: cover;
    width: 50%;
    height: 400px;
    border-radius: 1rem;
    overflow: hidden;
  }

  .ourprocess-wrap {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  .text-field-1col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  h3 {
    margin: 0;
  }

  .h4-caseworker {
    color: black;
    margin: 1rem 0;
    min-height: 1rem;
    font-size: 1.6rem;
  }

  .btnRounded {
    align-self: flex-start;
    margin: 2rem 0;
  }
}

.action-plan {
  margin-top: 5rem;
}

.action-plan-grid-p {
  font-size: 1rem;
}

.action-grid {
  padding: 0;
}

.action-grid-col {
  padding: 0;
}

.half-section-paragraph {
  width: 60%;
  margin: 5rem 0;

  h3 {
    margin: 0;
  }

  .tilbudportal-link {
    display: flex;
    margin: 1rem 0;
    color: $brand-primary;
    max-width: 50px;
  }
}

.pedaprac-methods {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;

  .divspecific-paragraph {
    margin: 1rem;
    max-width: 40%;
  }
}
/* stylelint-disable no-descending-specificity */

.reachout-section {
  background-color: $brand-primary;
  border-radius: 1rem;
  padding: 4rem;
  height: clamp(max-content, 30vh, 4rem);
  margin: 1rem 0;
  color: #fff;
  display: flex;
  justify-content: space-between;

  @include bp (tabletportsmall) {
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reachout-text {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 50%;

    @include bp (tabletportsmall) {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      p {
        margin-bottom: 1rem;
      }
    }

    a {
      margin: 0.25rem;
    }

    h2 {
      font-size: 2.8rem;

      @include bp (tabletportsmall) {
        font-size: 2rem;
      }
    }
  }

  p {
    margin: 0.25rem;
    padding: 0;
    font-size: 1.2rem;

    @include bp (tabletportsmall) {
      font-size: 1rem;
    }
  }

  h6 {
    padding: 0.5rem 0;
    font-size: 16px;
    font-weight: 500;
  }

  .flex-wrapper {
    display: flex;
    gap: 1rem;
  }

  .text {
    width: 60%;
  }

  .reachout-button {
    min-width: 30%;
    display: flex;
    text-align: center;
    align-self: center;

    @include bp (tabletportsmall) {
      min-width: 60%;
    }
  }

  #caseworker-btn-3 {
    border: 2px solid #fff;
    width: 100%;
    font-weight: 600;
  }
}

.contact-staff {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;

  .contactperson-img {
    width: 50%;
  }

  .person {
    color: black;
    padding: 1.5rem;
    border-radius: $border-radius-small;
    width: 100%;
    border: 2px $brand-primary solid;

    a {
      color: black;
      display: block;
    }

    path {
      color: $brand-primary;
    }
  }
}

.contact-house {
  display: flex;
  gap: 2rem;

  .all-houses {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
  }

  h6 {
    padding: 0.5rem 0;
  }
}
