footer {
  border-top: 2px solid $brand-primary;
  padding-top: $spacer;

  .fa-twitter {
    color: $brand-primary;
  }

  h4 {
    font-size: 1.3rem;
    color: $brand-primary;
  }
}

.footer-container {
  display: flex;

  ul {
    li {
      list-style-type: none;
      margin: 1rem 0;
    }
  }
}

.footer-child {
  flex-basis: 100%;
}
