//Utility classes

.blue-section {
  background-color: $section-blue;
  padding: 10rem 0;
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $spacer-small;

  a {
    align-self: flex-start;
  }
}

.content {
  width: 100%;
}

.wrapper-frontpage {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;

  .blue-section {
    padding: 0 2rem;
  }

  @include bp(tabletport) {
    padding: 0 clamp(0.3rem, 2%, 1rem);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//Header section

.no-margin {
  margin: 0;
}

.flex-frontpage {
  display: flex;
  justify-content: space-between;

  .front-title {
    padding: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include bp(tabletportsmall) {
    flex-direction: column-reverse;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0 $border-radius-large;

    @include bp(tabletportsmall) {
      border-radius: 0;
      height: 30vh;
    }
  }
}

.text-container-frontpage {
  h1 {
    max-width: 17ch;
    font-size: clamp(2rem, 4vw, 3.5rem);

    @include bp(tabletportsmall) {
      font-size: 2rem;
    }
  }

  p {
    margin-top: 1rem;
    max-width: 50ch;
  }
}

.image-frontpage {
  flex-basis: 60%;
}

//Cards - Entry section

.grid-container-entry {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: $spacer-small;
}

.flex-container-entry {
  padding: 10rem 0;
  display: flex;
  align-items: center;
  gap: $spacer-small;
  width: 100%;

  @include bp(tablet) {
    flex-direction: column;
  }
}

.focused-entry-points {
  display: grid;
  width: 100%;
  grid-template-columns: 300px 300px;
  gap: $spacer;

  @include bp(tablet) {
    grid-template-columns: 300px 300px;
  }

  @include bp (tabletportsmall) {
    grid-template-columns: 1fr 1fr;
  }

  @include bp(phone) {
    grid-template-columns: 1fr;
  }
}

.about-fond-container {
  display: flex;
  flex-direction: column;
  height: 100;
  justify-content: center;
  padding: 2rem;
}

.text-container-entrypoint {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $brand-primary;
  border-radius: 0 0 $border-radius-small $border-radius-small;
}

.card {
  width: 100%;

  .entry-point-card-text {
    height: 80px;
    background-color: $brand-primary;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      padding: 0.5rem;
    }
  }

  @include bp(tablet) {
    max-width: 250;
    width: auto;
  }

  img {
    width: 100%;
    display: block;
    border-radius: $border-radius-small $border-radius-small 0 0;
    height: 400px;
    object-fit: cover;

    @include bp(tablet) {
      height: 400px;
    }

    @include bp(phone) {
      height: 150px;
    }
  }
}

//News section

.news {
  padding: 10rem 0;
}

.banner-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fffad1;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;

  a {
    color: #67643f;
    border: 1px solid #67643f;
    padding: 0.4rem;
    border-radius: 10px;
  }
}

.news-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: $spacer;

  @include bp(tabletportsmall) {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

.news-card {
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  border-radius: $border-radius-small;
  display: flex;
  flex-direction: column;

  img {
    border-radius: $border-radius-small $border-radius-small 0 0;

    @include bp(tabletportsmall) {
      height: 20vh;
    }
  }
}

.news-card-text {
  padding: 1rem;
  min-height: 100px;
  height: 150px;
  max-height: 250px;
  border-radius: 0 0 $border-radius-small $border-radius-small;
}

//Target group
.target-group-description {
  max-width: 50%;

  @include bp (tablet) {
    max-width: 100%;
    padding: 2rem;
  }

  p {
    max-width: 85ch;
  }
}

.target-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include bp(tablet) {
    flex-direction: column;
  }

  .target-flower {
    position: absolute;
    left: -10rem;

    @include bp (tablet) {
      top: -10rem;
      left: 50%;
      transform: translate(-50%, 20%);
      stroke-width: 5;
      height: 170px;
    }
  }
}

.button-container {
  margin-bottom: $spacer;
  display: flex;
  gap: $spacer-small;
}

//new tabs

.tabs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;

  li {
    list-style: none;
    margin: 1rem 0;
    max-width: 90%;
  }
}

.tab-link {
  padding-right: 1rem;
  font-size: 1.2rem;
}

.tabs {
  display: flex;
}

ul.tabs li.current1 {
  color: red;
}

.tab-content {
  display: none;
}

.tab-content.current1 {
  display: inherit;
}

//Core values

.core-values {
  display: grid;
  gap: clamp(2rem, 5vw, 5rem);
  grid-template-columns: 1fr 700px;
  position: relative;

  .values-flower {
    position: absolute;
    left: -10rem;
    top: -5rem;
  }

  @include bp(tablet) {
    grid-template-columns: 1fr;
  }
}

.core-values-desciption {
  display: flex;
  flex-direction: column;
}

.core-value-grid {
  display: grid;
  width: 100%;
  gap: $spacer-small;
  grid-template-columns: 1fr 1fr 1fr;

  @include bp(tabletport) {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  // grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.core-value-child {
  padding: $spacer;
  text-align: center;
  align-items: center;
  border-radius: $border-radius-small;
  gap: 0;

  @include bp(tabletport) {
    padding: 0.5rem;
  }

  p {
    margin-top: 0.5rem;
  }

  a {
    color: white;
  }

  &:nth-child(even) {
    background-color: $brand-primary;

    h3,
    p {
      color: white;
    }
  }

  &:nth-child(odd) {
    background-color: white;
    outline: 2px solid $brand-primary;

    h3 {
      color: $brand-primary;
    }
  }
}

//Competencies and staff

.competencies {
  display: flex;

  @include bp(tablet) {
    grid-template-rows: auto;
  }
}
