//Utility classes

.blue-section {
  background-color: $section-blue;
  padding: 8rem 0;
  display: flex;
  align-items: center;

  @include bp (tabletportsmall) {
    padding: 4rem 0;
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $spacer-small;

  a {
    align-self: flex-start;
  }
}

.content {
  width: 100%;
}

.wrapper-frontpage {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;

  .blue-section {
    padding: 0 2rem;
  }

  @include bp(tabletport) {
    padding: 0 clamp(0.3rem, 2%, 1rem);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//Header section

.no-margin {
  margin: 0;
}

.flex-frontpage {
  display: flex;
  justify-content: space-between;

  .front-title {
    padding: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include bp(tabletportsmall) {
    flex-direction: column-reverse;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0 $border-radius-large;

    @include bp(tabletportsmall) {
      border-radius: 0;
      height: 30vh;
    }
  }
}

.text-container-frontpage {
  h1 {
    max-width: 17ch;
    font-size: clamp(2rem, 4vw, 3.5rem);

    @include bp(tabletportsmall) {
      font-size: 2rem;
    }
  }

  p {
    margin-top: 1rem;
    max-width: 50ch;
  }
}

.image-frontpage {
  flex-basis: 60%;
}

//Cards - Entry section

.grid-container-entry {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: $spacer-small;
}

.flex-container-entry {
  padding: 6rem 0;
  display: flex;
  align-items: center;
  gap: $spacer-small;
  width: 100%;

  @include bp(tablet) {
    flex-direction: column;
  }
}

.focused-entry-points {
  display: grid;
  width: 100%;
  grid-template-columns: 300px 300px;
  gap: $spacer;

  @include bp(tablet) {
    grid-template-columns: 300px 300px;
  }

  @include bp (tabletportsmall) {
    grid-template-columns: 1fr 1fr;
  }

  @include bp(phone) {
    grid-template-columns: 1fr;
  }
}

.about-fond-container {
  display: flex;
  flex-direction: column;
  height: 100;
  justify-content: center;
  padding: 2rem;
}

.text-container-entrypoint {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $brand-primary;
  border-radius: 0 0 $border-radius-small $border-radius-small;
}

.card {
  width: 100%;

  .entry-point-card-text {
    height: 80px;
    background-color: $brand-primary;
    border-radius: 0 0 $border-radius-small $border-radius-small;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      padding: 0.5rem;
    }
  }

  @include bp(tablet) {
    max-width: 250;
    width: auto;
  }

  img {
    width: 100%;
    display: block;
    border-radius: $border-radius-small $border-radius-small 0 0;
    height: 400px;
    object-fit: cover;

    @include bp(tablet) {
      height: 400px;
    }

    @include bp(phone) {
      height: 150px;
    }
  }
}

//News section

.news {
  padding: 3rem 0;
}

.banner-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fffad1;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;

  a {
    color: #67643f;
    border: 1px solid #67643f;
    padding: 0.4rem;
    border-radius: 10px;
  }
}

.news-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: $spacer;

  @include bp(tabletportsmall) {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

.news-card {
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  border-radius: $border-radius-small;
  display: flex;
  flex-direction: column;

  img {
    border-radius: $border-radius-small $border-radius-small 0 0;

    @include bp(tabletportsmall) {
      height: 20vh;
    }
  }
}

.news-card-text {
  padding: 1rem;
  min-height: 100px;
  height: 150px;
  max-height: 250px;
  border-radius: 0 0 $border-radius-small $border-radius-small;
}

//Target group
.target-group-description {
  max-width: 40%;
  z-index: 100;

  @include bp (tablet) {
    max-width: 80%;
    padding: 2rem;
    align-self: flex-start;
  }

  @include bp (tabletportsmall) {
    padding: 1rem;
    align-self: center;
  }

  @include bp (phone) {
    justify-content: center;
    text-align: center;
  }
}

.svg-animation {
  animation: stroke 2.5s ease-in-out forwards;

  path {
    animation: dash 3.25s ease-in-out forwards, color 3.25s linear forwards;
  }
}

.target-group {
  display: flex;
  align-items: center;
  gap: clamp(2rem, 5vw, 5rem);
  justify-content: space-between;
  position: relative;

  @include bp(tablet) {
    flex-direction: column;
    justify-content: flex-start;
  }

  @include bp (tabletportsmall) {
    justify-content: center;
  }

  .target-flower {
    position: absolute;
    display: flex;
    opacity: 60%;
    top: 0;

    object {
      display: none;
    }

    svg {
      position: absolute;
      left: -10rem;
      stroke: $brand-primary;
      stroke-width: 1;

      @include bp (desktop) {
        left: 25rem;
      }

      @include bp (smalldesktop) {
        object-fit: cover;
        left: 20rem;
      }

      @include bp (tablet) {
        right: 0;
        transform: translate(-50%, -20%);
        top: -2rem;
      }

      @include bp (tabletportsmall) {
        left: 50%;
        transform: translate(-50%, 0%);
        top: 2rem;
      }

      @include bp (phone) {
        top: 2rem;
      }

      path {
        fill: $section-blue;
        stroke-dasharray: 8723;
        stroke-dashoffset: 8723;
      }
    }
  }

  p {
    @include bp(tabletportsmall) {
      font-size: 1rem;
    }
  }
}

.button-container {
  margin-bottom: $spacer;
  display: flex;
  gap: $spacer-small;
}

//new tabs

.tabs-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  border: 1px solid $brand-primary;
  background-color: $document-background-color;
  z-index: 100;
  border-radius: 1rem;
  padding: 1rem 2rem;

  @include bp(tabletportsmall) {
    margin-left: unset;
    padding: 1rem;
    max-width: 100%;
  }

  li {
    list-style: none;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.5rem 0;
    max-width: 90%;
    line-height: 1.5rem;

    @include bp(tabletportsmall) {
      margin-left: 0;
      max-width: 100%;
    }
  }
}

.tab-link {
  padding-right: 1rem;
  font-size: 1.2rem;
}

.tabs {
  display: flex;
}

ul.tabs li.current1 {
  color: red;
}

.tab-content {
  display: none;
}

.tab-content.current1 {
  display: inherit;
}

//Core values
/* stylelint-disable no-descending-specificity */

.core-values {
  display: grid;
  gap: clamp(2rem, 5vw, 5rem);
  grid-template-columns: 1fr 700px;
  position: relative;
  z-index: 100;

  .values-flower {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: -5rem;
    width: 100%;
    opacity: 60%;

    object {
      display: none;
    }

    svg {
      position: absolute;
      left: -10rem;
      stroke: $brand-primary;
      stroke-width: 1;

      @include bp (desktop) {
        left: 25rem;
      }

      @include bp (smalldesktop) {
        object-fit: cover;
        left: 20rem;
      }

      @include bp (tablet) {
        left: 100%;
        transform: translate(-100%, -20%);
        top: -2rem;
      }

      @include bp (tabletportsmall) {
        left: 50%;
        transform: translate(-50%, 0%);
        top: 2rem;
      }

      @include bp (phone) {
        top: 2rem;
      }

      path {
        fill: $section-blue;
        stroke-dasharray: 8723;
        stroke-dashoffset: 8723;
      }
    }
  }

  @include bp(tablet) {
    grid-template-columns: 1fr;
    margin: 3rem 0;
  }
}

.core-values-description {
  display: flex;
  flex-direction: column;
  z-index: 100;

  @include bp (tablet) {
    max-width: 80%;
    padding: 2rem;
    align-self: flex-start;
  }

  @include bp (tabletportsmall) {
    padding: 1rem;
    align-self: center;
    justify-self: center;
  }

  @include bp (phone) {
    justify-content: center;
    text-align: center;

    a {
      align-self: unset;
    }
  }
}

.core-value-grid {
  display: grid;
  width: 100%;
  z-index: 100;
  gap: $spacer-small;
  grid-template-columns: 1fr 1fr 1fr;

  @include bp(tabletport) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  @include bp(tabletportsmall) {
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  // grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.core-value-child {
  padding: $spacer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: $border-radius-small;
  gap: 0;

  @include bp(tabletportsmall) {
    padding: 0.5rem;
    height: 200px;
  }

  @include bp(phone) {
    padding: 0.5rem;
    height: unset;
  }

  h3 {
    padding: 0;
  }

  p {
    margin-top: 0.5rem;

    @include bp (phone) {
      height: auto;
      font-size: 0.85rem;
      margin: 0;
      line-height: 1.3rem;
    }
  }

  a {
    color: white;
  }

  &:nth-child(even) {
    background-color: $brand-primary;
    outline: 2px solid $brand-primary;

    h3,
    p {
      color: white;
    }
  }

  &:nth-child(odd) {
    background-color: white;
    outline: 2px solid $brand-primary;

    h3 {
      color: $brand-primary;
    }
  }
}

//Competencies and staff

.competencies {
  display: flex;
  margin: 6rem 0;

  img {
    max-width: 50%;
  }

  @include bp(tablet) {
    margin: 3rem 0;
  }
}

@keyframes dash {
  to {
    opacity: 60%;
    fill: $brand-primary;
    stroke-dashoffset: 0;
  }
}

@keyframes color {
  to {
    opacity: 60%;
    fill: $brand-primary;
  }
}

@keyframes stroke {
  to {
    stroke-width: 0;
  }
}
