* {
  margin: 0;
  padding: 0;
}

#cards {
  margin: 4rem;
}

.cards-section {
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 4rem;

  .department-card {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-small;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);

    img {
      height: 70vh;
      width: 100%;
      border-radius: 1rem 1rem  0 0;
      object-fit: cover;
      margin: 0;
      padding: 0;
    }

    .department-card-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 0 0 1rem 1rem;
      padding: 1rem;
      margin: 0;
      background: $brand-primary;

      p,
      h3 {
        margin: 0.25rem 0;
        color: white;
      }
    }

    .department-card-hovered {
      position: absolute;
      width: 100%;
      height: 0;
      // transform: translateY(100%);
      bottom: 0;
      border-radius: $border-radius-small;
      opacity: 0;
      z-index: 100;
      transition: all 150ms ease;
      background: linear-gradient(to top, rgb(50, 171, 153), rgba(174, 174, 174, 0.1));
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      p {
        margin: 2rem;
        color: white;
        z-index: 101;
      }

      h2 {
        color: white;
        margin: 0 2rem;
      }

      h4 {
        color: white;
        margin: 0.25rem 2rem;
      }

      .btn-card {
        margin: 1rem 2rem;
        font-size: 1.2rem;
        border-radius: 40px;
        min-width: 50%;
        color: white;
        border: 1px solid white;
        padding: 1.5rem;
        align-self: flex-start;
      }
    }

    &:hover {
      .department-card-hovered {
        cursor: pointer;
        opacity: 1;
        height: 100%;
        // transform: translateY(0);
        border-radius: $border-radius-small;
      }
    }
  }
}

