.resident-page {
  h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}

* {
  scroll-behavior: smooth;
}

.header-text {
  margin: 6rem 0;
}

.line-height {
  line-height: 1.5rem;
}

.image-full-width {
  max-width: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 40vh;
    border-radius: $border-radius-small;
    overflow: hidden;
  }

  .image-text {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
    line-height: 1.8rem;
  }

  button {
    margin-top: 2rem;
    font-size: 1rem;
  }
}

.residents {
  margin-bottom: 6rem;
}

.residents-infograph {
  margin: 0;
}

#process-banner {
  margin: 2rem 0;
}

.duty-of-care {
  display: flex;
  gap: 2rem;

  h1 {
    margin: 1rem 0;
  }

  .image {
    width: 50%;
  }

  .info {
    width: 50%;
    margin-left: 1rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      li {
        font-size: 1.1rem;
        margin: 1.25rem 0;
        line-height: 1.2rem;
        padding: 0.75rem 0.75rem 0 0;
      }
    }

    button {
      flex-grow: shrink;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
    border-radius: $border-radius-small;
    margin-top: $spacer-small;
  }
}

.infographic-title {
  svg {
    margin: 0;
  }
}

.infographic-icon-white {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  svg {
    color: $brand-primary !important;
    width: 3rem;
    margin: 0;
  }
}

.infographics {
  margin-top: 4rem;
  width: 100%;

  #process {
    padding: 2rem;
    border-radius: 1rem;
    background-color: $brand-primary;
    margin-bottom: 1rem;
  }

  a {
    margin-top: $spacer;
  }

  h3 {
    margin: 0;
    font-weight: 500;
  }

  .infographics-grid {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid $brand-primary;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;

    @include bp(tablet) {
      flex-direction: column;
      max-width: 100%;
      align-items: flex-start;
    }

    .infographic-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      min-width: 25%;

      @include bp(tablet) {
        max-width: 75%;
      }

      @include bp(desktop) {
        max-width: 100%;
      }

      ul {
        margin: 0.5rem 1rem;
        font-family: "Montserrat", sans-serif;
        line-height: 1.4rem;
        list-style-type: none;

        li {
          margin: 0.75rem 0;
          font-size: 1.1rem;

          @include bp(tabletland) {
            font-size: 1.15rem;
          }
        }

        li::before {
          content: "\2022";
          color: $brand-primary;
          width: 1rem;
          font-weight: bold;
          margin-left: -0.5rem;
          display: inline-block;
        }
      }
    }

    .infographic-process {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;

      @include bp(tablet) {
        margin: 2rem 0;
      }

      h5 {
        color: white;
        text-align: center;
        font-size: 1.2rem;

        @include bp(tablet) {
          font-size: 1.5rem;
        }
      }

      p {
        color: white;
        margin-top: 1rem;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        line-height: 2rem;

        @include bp(tablet) {
          font-size: 1.2rem;
          padding: 0 2rem;
        }
      }
    }
  }

  h4 {
    font-size: 2rem;
    color: $brand-primary;

    @include bp(desktop) {
      font-size: 1.5rem;
    }

    @include bp(tabletland) {
      font-size: 2rem;
    }
  }

  .icon {
    font-size: 3rem;
    color: $brand-primary;

    @include bp(desktop) {
      font-size: 2.5rem;
    }
  }

  svg {
    font-size: 3rem;
    margin: 1rem auto;
  }
}

.involvement-steps {
  .involvement-step-child {
    .involvement-card {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      div {
        h3 {
          color: $brand-primary;
          margin: 0.25rem 0;
        }

        p {
          max-width: 75%;
          line-height: 1.5rem;
        }
      }

      img {
        width: 40%;
        padding-right: 10rem;
      }
    }
  }
}

