/** Font sizes */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: $brand-primary;

  @include bp(tablet) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 1rem 0;
}

h3 {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.marigin-2-y {
  margin: 2rem 0;
}

.marigin-2-x {
  margin: 0 2rem;
}

p {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;

  &:visited {
    color: white;
  }
}

strong {
  font-weight: 600;
}

/** Buttons */

button {
  background: none;
  border: none;
}

.btnRounded {
  min-width: 10rem;
  font-size: 1.1rem;
  border-radius: 40px;
  background-color: $brand-primary;
  padding: 1.3em 1.5em;
  color: white;
  transition: 0.2s;
  display: inline-block;

  &:hover {
    background-color: $brand-primary-highlighted;
  }
}

//Wrapper creation

.wrapper-small-single-column {
  margin-left: auto;
  margin-right: auto;
}

.wrapper-large-single-column {
  margin-left: auto;
  margin-right: auto;
}

.wrapper-small {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;

  @include bp(tabletportsmall) {
    padding: 0 clamp(0.2rem, 2%, 0.5rem);
  }
}

.wrapper-large {
  display: flex;
  justify-content: center;
  margin: 4rem;

  @include bp(tabletportsmall) {
    margin: 1rem;
  }

  .wrap-side-nav {
    width: 20%;
    display: flex;
    justify-content: center;

    @include bp(tabletland) {
      display: none;
    }

    .side-nav {
      height: max-content;
      border-right: 2px solid $brand-primary;
      padding: 1rem 2rem;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      margin: 6rem 0;
      top: 10%;

      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;

        li {
          padding: 1rem;
          font-size: 1.3rem;
          margin: 0.5rem 0;
          transition: all 0.5s ease;

          @include bp(tabletland) {
            font-size: 1.25rem;
          }

          .anchor {
            padding: 1rem;

            &:hover {
              color: $brand-primary;
            }
          }
        }
      }
    }
  }

  .wrap-side-content {
    width: 60%;
    margin: 0 4rem;

    @include bp(tabletland) {
      width: 100%;
      margin: 0 2rem;
    }
  }

  .wrap-only-content {
    width: 100%;
  }

  @include bp(tabletportsmall) {
    padding: 0 clamp(0.2rem, 2%, 0.5rem);
  }
}
//sections
section {
  margin: 6rem 0;
}

//Header of the section
.header-text {
  margin: 2rem;

  h1 {
    max-width: 20ch;
  }
}

.text-field {
  column-count: 2;
  column-gap: 2rem;
  line-height: 1.75rem;

  @include bp(tablet) {
    column-count: 1;
  }
}

//active
.active {
  border-radius: 0.5rem;
  color: $brand-primary !important;
}

//Alternate sections

.alternate {
  margin: 2rem;

  h3 {
    color: $brand-primary;
    margin: 1rem 0;
  }

  .alternate-child {
    margin: 4rem 0;

    &:nth-child(odd) {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include bp(tabletland) {
        flex-direction: column;
      }
    }

    &:nth-child(even) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      @include bp(tabletland) {
        flex-direction: column;
      }
    }

    .image-container {
      display: flex;
      flex-direction: column;

      img {
        flex: 1;
        border-radius: 1rem;
        width: 100%;
      }

      h4 {
        color: $brand-primary;
        font-style: italic;
        font-size: 1rem;
        margin: 0.5rem 0;
        position: relative;
      }
    }

    .alternate-text {
      margin: 1rem 2rem;
      line-height: 1.5rem;
      max-width: 40%;

      @include bp(tabletland) {
        max-width: 100%;
        font-size: 0.75rem;
        margin: 0.75rem 0 2rem 0;
      }
    }
  }
}
