@import "common/mixins";

/** Colors */
$brand-primary:              #35ab99;
$brand-primary-dark:         #2b6058;
$brand-primary-highlighted:  #ee6745;
$brand-secondary:            rgb(178, 178, 230);
$document-background-color:  #fafffe;
$section-blue:  #edfcfa;

/** Box Model  */
$spacer:                2rem;
$spacer-small:          1rem;

/** Border radius */
$border-radius-large: 50px;
$border-radius-small: 10px;

// Leaf svg for lists bullet
$leaf : url("../../images/lung.jpg");
